html, body {
    /* margin:0; */
    height:100%;
  }
body{
    background-image: url("assets/H.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Menu::::::::::::::::: */
#menu{
    background-color: darkblue !important;
    height: 15%;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;
    font-size: 30px !important;

}
span{
    color: white;
}
h6{
    color: yellow;
}
#textmenu{
    color: white !important;
}

/* Corps:::: */
/* Text::::::::::: */
.container{
    width: 80%; height: 10%; margin-top: 12%;
}
.textcorps{
    text-align: center;
    color: darkblue;
}
p{
    font-size: 30px;
    font-weight: bold;
}
.htext{
    font-weight: bold;
    font-size: 60px;
}
/*  Select option:::::: */
.containerOption{
    background-color: white;
    width: 85%;
    height: 10%;
    margin-top: 10%;
    margin-left: 7%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;

}
.un{
    background-color: yellow;
    border-bottom-left-radius: 80px;
    width: 6%;

}
.deux,.trois, .quatre {
    width: 26%;
    padding-top: 1%;
}
select{
    border-color: white !important;
}

.destinations{
    background-color: yellow;
    border-bottom-right-radius: 80px;
    width: 220px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 9%;
    
}
